<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878529743045-2vgcb7o636p3pvhdjvjpvnq8vb8g5l7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878529743045-2vgcb7o636p3pvhdjvjpvnq8vb8g5l7p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>878529743045-l5ks3nlkgqfa147udrmqdvgg2hde65q6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjtC_OE_EjvwzJ71h7Y_SD5afwXGAnF_k</string>
	<key>GCM_SENDER_ID</key>
	<string>878529743045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junchenjun.myapp</string>
	<key>PROJECT_ID</key>
	<string>myapp-403222</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-403222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878529743045:ios:17542e786a97ff4664c8ac</string>
</dict>
</plist>